<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewpoint"
        content="width=device-width,initial-scale=1.0">
        <title>AI smart content generator</title>

  </head>
  <body>
    <nav class="navbar navbar -dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
             AI smart content generator
        </a>
      </div>
    </nav>
  </body>
  <script src="{{url_for(staic,filename="script.js")}}"></script>
</html>